/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/** RESET **/

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

* {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

fieldset {
    border: none;
}

/** INPUTS **/

.input {
    line-height: 2.5em;
}

.input label {
    display: block;
    float: left;
    text-indent: 0.5em;
    vertical-align: middle;    
    width: 150px;
}

input[type=text], input[type=password] {
    border: solid 1px black;
}

input[type=submit] {
    margin-left: 150px;
}

/** TYPOGRAPHY **/

h1 {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 3em;
    text-align: right;
}

h2 {
    background: #a2a2a2;
    color: #ddd;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 3em;
    margin-bottom: 1em;
    text-indent: 1em;
}

a {
    color: #a2a2c3;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

p {
    padding: 0.5em 0.5em 1em 0.5em;
    line-height: 1.3em;
}

/** LAYOUT **/

.clear {
    clear: both;
}

#wrapper {
    border-color: #a2a2a2;
    border-style: none solid;
    border-width: 1px;
    margin: auto;
    min-height: 600px;
    width: 720px;
}


.info .key {
    clear: both;
    float: left;
    font-weight: bold;
    width: 150px;
}

.info .value {
    margin-left: 150px;
}

.split .left {
    float: left;
    width: 360px;
}

.split .right {
    border-left: solid 1px #a2a2a2;
    margin-left: 360px;
    width: 359px;
}

#login_state {
    line-height: 2em;
    margin-right: 3em;
    text-align: right;
}

