/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/** RESET **/

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

* {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

fieldset {
    border: none;
}

/** INPUTS **/

.input {
    line-height: 2.5em;
}

.input label {
    display: block;
    float: left;
    vertical-align: middle;    
    width: 150px;
}

input[type=text], input[type=password] {
    border: solid 1px black;
}